.rotate-floating {
  transform: rotate(-4deg) translateY(0px);
  animation: float 4s ease-in-out infinite;
  transform-origin: center;
}

.glowing-text {
  animation: glow 1.5s alternate infinite;
}

@keyframes float {
  0% {
    transform: rotate(-4deg) translateY(0px);
  }

  50% {
    transform: rotate(-4deg) translateY(-35px);
  }

  100% {
    transform: rotate(-4deg) translateY(0px);
  }
}

.simple-floating {
  animation: swingFloat 6s ease infinite;
  transform-origin: center;
}

@keyframes swingFloat {
  0% {
    transform: rotate(0) translateY(0px);
  }

  30% {
    transform: translateX(15px) translateY(-45px);
  }

  70% {
    transform: translateX(-15px) translateY(-45px);
  }

  100% {
    transform: rotate(0) translateX(0) translateY(0px);
  }
}

@keyframes up {
  0% {
    transform: translateY(120vh);
  }

  100% {
    transform: translateY(-20vh);
  }
}

@keyframes upTwo {
  0% {
    transform: translateY(100vh) rotate(5deg);
  }

  100% {
    transform: translateY(7vh) rotate(5deg);
  }
}

@keyframes move {

  0%,
  100% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(-45deg);
  }
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }

  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

.heart-animated {
  position: absolute;
  width: 40px;
  height: 40px;
  animation: fly-up 1.8s ease-out forwards;
  pointer-events: none;
  z-index: 1000;
  background: url("../images/pixel-heart.png") no-repeat center;
  background-size: contain;
  transform: translate(var(--start-x, 0px), var(--start-y, 0px));
}

@keyframes fly-up {
  0% {
    transform: translate(var(--start-x, 0px), var(--start-y, 0px)) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(calc(var(--start-x, 0px) + var(--offset-x, 0px)),
        calc(var(--start-y, 0px))) scale(0.3);
    opacity: 0;
  }
}

@-webkit-keyframes flash {

  0%,
  50%,
  to {
    opacity: 1
  }

  25%,
  75% {
    opacity: 0
  }
}

@keyframes flash {

  0%,
  50%,
  to {
    opacity: 1
  }

  25%,
  75% {
    opacity: 0
  }
}

.animate__flash {
  animation: flash 2s alternate infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes filterBackground {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.15);
  }

  100% {
    filter: brightness(1.3);
  }
}
@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(7%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0%)
  }

  70% {
    transform: translate(0%, 15%)
  }

  80% {
    transform: translate(3%, 35%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}
