@use "reset.scss";
@use "animation.scss";

// Базовые переменные
$base-font-size: 16px; // Базовый размер шрифта

//woman
$white: #fff;
$pink: #ff06de;
$dark-pink: #c609ad;
$light-pink: #ffd7fa;
$light-purple: #9d0589;
$dark-purple: #720163;
$black: #000;

$blue: #0682FF;

// Функция для конвертации px в rem
@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@font-face {
  font-family: "Bokor";
  src: url("../fonts/Bokor-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "handjet";
  src: url("../fonts/handjet-regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "couriernewbold";
  src: url("../fonts/couriernewbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rosencrantz";
  src: url("../fonts/Rosencrantz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TeletactileRus";
  src: url("../fonts/TeletactileRus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AlphaSmart3000";
  src: url("../fonts/AlphaSmart3000.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Moscow2024";
  src: url("../fonts/MOSCOW2024.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PrincessDiana";
  src: url("../fonts/Princess-Diana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DigitalNumbers";
  src: url("../fonts/DigitalNumbers-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClassicaOne";
  src: url("../fonts/ClassicaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Миксины для медиа-запросов
@mixin screen-1600 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin screen-1440 {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin screen-1280 {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin screen-1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen-768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin screen-568 {
  @media screen and (max-width: 568px) {
    @content;
  }
}

html {
  font-size: $base-font-size;

  @include screen-1600 {
    font-size: 15px;
  }

  @include screen-1440 {
    font-size: 13px;
  }

  @include screen-1280 {
    font-size: 12px;
  }

  @include screen-1024 {
    font-size: 10px;
  }

  @include screen-768 {
    font-size: 12px;
  }
}
