@use "common"as *;

body {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  background-attachment: fixed;
  transition: background-position 0.2s ease-out;
  background-color: #0C0C0C;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: filterBackground 15s ease-in-out infinite alternate;
    z-index: 10;


  }

  &.man {
    background-image: url('../images/computer-man_bg2.png');

    @include screen-768 {
      background-image: url('../images/computer-man-bg-mobile.png');
    }
  }

  &.woman {
    background-image: url('../images/computer-woman_bg2.png');

    @include screen-768 {
      background-image: url('../images/computer-woman-bg-mobile.png');
    }
  }
}

h1 {
  font-size: rem(176px);
  font-family: Bokor;
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 111;
  /* Делает цвет текста прозрачным, чтобы был виден только фон */
  -webkit-background-clip: text;
  /* Для старых версий Safari */
  -webkit-text-fill-color: transparent;
  /* Для старых версий Safari */

  body.man & {
    background: linear-gradient(359.75deg, #E9D7FF 18.15%, #8B53FE 28.5%, #E9D7FF 52.67%, #8B53FE 76.83%, #E9D7FF 87.18%);
    background-clip: text;
    -webkit-text-stroke: 1px white;
  }

  body.woman & {
    background: linear-gradient(352.44deg, #FFD7FA 22%, #FF06DE 52.63%, #FFD7FA 83.25%);
    background-clip: text;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }

  &.show-xs {
    margin-top: 20px;
    margin-bottom: 28px;
    text-align: center;
  }

  @include screen-1024 {
    font-size: 90px;
  }

  @include screen-568 {
    font-size: 80px;
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.computer-monitor {
  position: absolute;
  top: 85px;
  left: 126px;
  min-width: 355px;
  font-size: 24px;
  font-weight: 500;
  font-family: handjet;

  padding: 16px 20px;
  text-align: left;

  body.man & {
    color: #13D844;
    border: 2px dashed #13D844;

    @include screen-568 {
      border-width: 1px;
    }
  }

  body.woman & {
    color: #F74CC3;
    border: 2px dashed #F74CC3;

    @include screen-568 {
      border-width: 1px;
    }
  }

  .message {
    display: inline-block;
    width: 32px;
    height: 20px;
    margin-left: 12px;
    background: url("../images/computer-message.svg") no-repeat center;
    background-size: contain;

    body.woman & {
      background: url("../images/computer-message-woman.svg") no-repeat center;
      background-size: contain;
    }

    @include screen-568 {
      width: 19px;
      height: 12px;
    }
  }

  &__top {
    padding: 10px 20px;
    margin-bottom: 12px;

    body.man & {
      border: 2px dashed #13D844;

      @include screen-568 {
        border-width: 1px;
      }
    }

    body.woman & {
      border: 2px dashed #F74CC3;

      @include screen-568 {
        border-width: 1px;
      }
    }

    .name {
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: 600;

      @include screen-568 {
        margin-bottom: 4px;
        font-size: 16px;
      }
    }

    @include screen-568 {
      margin-bottom: 4px;
      padding: 8px;
    }
  }

  &__bottom {
    padding: 16px 20px;

    body.man & {
      border: 2px dashed #13D844;

      @include screen-568 {
        border-width: 1px;
      }
    }

    body.woman & {
      border: 2px dashed #F74CC3;

      @include screen-568 {
        border-width: 1px;
      }
    }

    @include screen-568 {
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 10px;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 21px;
    padding: 12px 24px;
    color: #030303;
    font-weight: 500;
    outline: 1px solid #030303;
    outline-offset: -5px;
    cursor: pointer;

    body.man & {
      background-color: #13D844;

      &:hover,
      &:active {
        background-color: #1ffb56;
      }
    }

    body.woman & {
      background-color: #F74CC3;

      &:hover,
      &:active {
        background-color: #f768cc;
      }
    }

    @include screen-568 {
      margin-top: 12px;
      font-size: 15px;
    }
  }

  @include screen-768 {
    top: 77px;
    left: 113px;
  }

  @include screen-568 {
    min-width: 200px;
    padding: 0;
    top: 42px;
    left: 62px;
    border: none;
    font-size: 14px;
  }
}

.computer-bg {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 100%;
  max-width: 70%;
  height: rem(40px);
  background: rgba(104, 122, 112, 0.35);
  border-radius: 100px;

  &.bg-1 {
    top: rem(270px);
  }

  &.bg-2 {
    top: rem(320px);
  }

  &.bg-3 {
    top: rem(370px);
  }

  &.bg-4 {
    top: rem(420px);
  }

  &.bg-5 {
    top: rem(470px);
  }

  &.bg-6 {
    top: rem(520px);
  }

  &.bg-7 {
    top: rem(570px);
  }

  &.bg-8 {
    top: rem(620px);
  }

  &.bg-9 {
    top: rem(670px);
  }

  @include screen-1280 {
    margin-top: 50px;
  }

  @include screen-568 {
    margin-top: -150px;
    left: 8%;
    max-width: 85%;
  }
}

.center-section {
  position: relative;
  width: 75vw;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  overflow: hidden;
  z-index: 11;
  height: 100%;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: -110%;
    left: -50%;
    width: 300%;
    height: 300%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.42;
    animation: grain 8s steps(10) infinite;
    z-index: 1;

    body.man & {
      background-color: #090b0d;
      background-image: url("../images/noize.svg");
    }

    body.woman & {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2fb1e4;
      background-image: url("../images/computer-sky_bg.png");
      animation: none;
      opacity: 1;
    }
  }

  @include screen-568 {
    height: max-content;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.computer-card-container {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: max-content;
  margin: 0 auto;
  z-index: 100;

  @include screen-568 {
    padding-bottom: 40px;
  }

  .computer-img {
    @include screen-568 {
      width: 320px;
      opacity: 0.9;
    }
  }
}

.bottom-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 70%;
  color: #FDFEFD;
  font-family: handjet;
  font-size: rem(44px);
  font-weight: 600;
  bottom: 25%;
  z-index: 101;


  @include screen-568 {
    flex-direction: column;
    position: fixed;
    max-width: 100%;
    bottom: 40px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);

    body.woman & {
      color: #030303;
      text-shadow: 2px 3px 3px rgba(110, 110, 110, 0.7);
    }
  }
}

.baloons {
  position: absolute;
  width: 100%;
  height: calc(100% + 20vh);
  bottom: 0;
  z-index: 9999;

  @include screen-1024 {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

.baloon {
  position: absolute;
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  will-change: transform;
  transform: translateZ(0);

  body.man & {
    background-image: url("../images/baloon-purple.png");
  }

  body.woman & {
    background-image: url("../images/baloon-silver.png");
  }

  &.baloon-one {
    width: rem(450px);
    height: rem(330px);
    left: 3vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 5.8s;
  }

  &.baloon-two {
    width: rem(400px);
    height: rem(300px);
    left: 18vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 4.8s;
  }

  &.baloon-three {
    width: rem(280px);
    height: rem(200px);
    left: 23vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 3.5s;
  }

  &.baloon-four {
    width: rem(440px);
    height: rem(310px);
    left: 36vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 5.8s;
  }

  &.baloon-five {
    width: rem(295px);
    height: rem(232px);
    left: 37vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 4.3s;
  }

  &.baloon-six {
    width: rem(325px);
    height: rem(212px);
    right: 49vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 3.25s;
  }

  &.baloon-seven {
    width: rem(330px);
    height: rem(235px);
    right: 32vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 4.2s;
  }

  &.baloon-eight {
    width: rem(333px);
    height: rem(295px);
    right: 23vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 4.85s;
  }

  &.baloon-nine {
    width: rem(295px);
    height: rem(212px);
    right: 17vw;
    transform: translateY(-100%);
    animation: up 5s linear forwards 4.3s;
  }

  &.baloon-ten {
    width: rem(485px);
    height: rem(322px);
    top: 4vh;
    right: 5vw;
    transform: translateY(-100%) rotate(5deg);
    animation: upTwo 5s linear forwards 6.5s;
  }

  @include screen-768 {
    &.baloon-one {
      width: 275px;
      height: 190px;
      left: -27vw;
    }

    &.baloon-two {
      width: 250px;
      height: 175px;
      left: 0;
      top: 10vh;
    }

    &.baloon-three {
      width: 190px;
      height: 125px;
      left: 50vw;
    }

    &.baloon-four {
      width: 110px;
      height: 180px;
      left: 72vw;
    }

    &.baloon-five {
      left: 48vw;
      width: 207px;
      height: 151px;
    }

    &.baloon-six {
      width: 232px;
      height: 131px;
    }

    &.baloon-seven {
      top: -7vh;
      right: 37vw;
      width: 215px;
      height: 147.5px;
    }

    &.baloon-eight {
      right: 11vw;
      width: 201px;
      height: 155px;
    }

    &.baloon-nine {
      top: -7vh;
      right: 15vw;
      width: 197.5px;
      height: 141px;
    }

    &.baloon-ten {
      width: 150px;
      height: 196px;
      right: 24vw;
      animation: up 9s linear forwards 4s;
    }
  }
}

@keyframes glow-green {
  from {
    box-shadow: 0 0 5px #13D844, 0 0 10px #13D844;
  }

  to {
    box-shadow: 0 0 10px #13D844, 0 0 15px #13D844, 0 0 25px #13D844;
  }
}

@keyframes glow-pink {
  from {
    box-shadow: 0 0 5px #F74CC3, 0 0 10px #F74CC3;
  }

  to {
    box-shadow: 0 0 10px #F74CC3, 0 0 15px #F74CC3, 0 0 25px #F74CC3;
  }
}

.js-open-dialog.animated {
  body.woman & {
    animation: glow-pink 1.8s infinite alternate;
  }

  body.man & {
    animation: glow-green 1.8s infinite alternate;
  }
}

.dialog-layout {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100vw;
  height: calc(100% + 20px);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 1111;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s opacity ease-in;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  .dialog-bg-el {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .dialog-bg-el-1 {
    width: rem(332px);
    height: rem(332px);
    left: 15%;
    top: 20%;

    body.man & {
      background-image: url("../images/computer-man-bg-1.png");
    }

    body.woman & {
      background-image: url("../images/computer-woman-bg-1.png");
    }

    background-size: contain;

    @include screen-768 {
      width: 150px;
      height: 150px;
      top: 12%;
      left: 0;
    }
  }

  .dialog-bg-el-2 {
    top: 28%;
    right: 17%;

    body.man & {
      width: rem(142px);
      height: rem(82px);
      background-image: url("../images/computer-man-bg-2.png");
      background-size: contain;
    }

    body.woman & {
      width: rem(115px);
      height: rem(115px);
      background-image: url("../images/computer-woman-bg-3.png");
      background-size: contain;

      @include screen-768 {
        width: 80px;
        height: 80px;
      }
    }

    @include screen-768 {
      top: 20%;
      right: 5%;
    }
  }

  .dialog-bg-el-3 {
    top: 45%;
    right: 13%;

    body.man & {
      width: rem(300px);
      height: rem(270px);
      background-image: url("../images/computer-man-bg-3.png");
      background-size: contain;

      @include screen-768 {
        width: 180px;
        height: 140px;
      }
    }

    body.woman & {
      width: rem(250px);
      height: rem(260px);
      background-image: url("../images/computer-woman-bg-4.png");
      background-size: contain;

      @include screen-768 {
        width: 120px;
        height: 125px;
      }
    }

    @include screen-768 {
      top: 67%;
      right: 0;
    }
  }

  .dialog-bg-el-4 {
    left: 18%;
    top: 52%;

    body.man & {
      width: rem(200px);
      height: rem(200px);
      background-image: url("../images/computer-man-bg-4.png");
      background-size: contain;

      @include screen-768 {
        width: 100px;
        height: 100px;
      }
    }

    body.woman & {
      width: rem(140px);
      height: rem(140px);
      background-image: url("../images/computer-woman-bg-2.png");
      background-size: contain;

      @include screen-768 {
        width: 70px;
        height: 70px;
      }
    }

    @include screen-768 {
      left: 1%;
      top: 68%;
    }
  }

  .dialog-bg-el-5 {
    width: rem(70px);
    height: rem(70px);
    top: 22%;
    right: 30%;

    body.man & {
      background-image: url("../images/computer-man-bg-5.png");
    }

    body.woman & {
      background-image: url("../images/computer-woman-bg-5.png");
    }

    background-size: contain;

    @include screen-768 {
      top: 14%;
    }
  }
}

.dialog {
  width: 100%;
  max-width: rem(664px);
  min-height: 212px;
  position: absolute;
  border: rem(2px) solid transparent;
  box-shadow: rem(-2px) rem(-2px) 0px 0px $white;
  line-height: 1.2;
  font-size: rem(24px);
  font-family: "AlphaSmart3000", sans-serif;

  body.man & {
    background-color: #E8FFE0;
    border-color: #74FF67;
  }

  body.woman & {
    background-color: $light-pink;
    border-color: $pink;
  }

  &__img {
    display: block;
    width: 100%;
    max-height: 400px;
    max-width: rem(400px);

    @include screen-768 {
      max-height: 350px;
      max-width: 100%;
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: rem(8px);
    color: $white;

    body.man & {
      background-color: #40DD11;
    }

    body.woman & {
      background-color: $dark-pink;
    }
  }

  &__text {
    padding: rem(20px);

    body.man & {
      background-color: #E8FFE0;
    }

    body.woman & {
      background-color: $light-pink;
    }
  }

  &__cross {
    position: relative;
    padding: rem(4px);
    width: rem(32px);
    height: rem(32px);
    border: 2px solid transparent;
    cursor: pointer;
    background: url("../images/pixel-cross.svg") no-repeat center;

    body.man & {
      background-color: #2DC500;
      border-color: #85FF67;
      box-shadow: rem(2px) rem(2px) 0px 0px #067300,
        rem(-2px) rem(-2px) 0px 0px $white;
    }

    body.woman & {
      border-color: $pink;
      background-color: $light-purple;
      box-shadow: rem(2px) rem(2px) 0px 0px $dark-purple,
        rem(-2px) rem(-2px) 0px 0px $light-pink;
    }
  }

  &__close {
    position: relative;
    padding: rem(4px);
    width: rem(32px);
    height: rem(32px);
    border: rem(2px) solid transparent;
    cursor: pointer;

    body.man & {
      background: url("../images/green-heart.svg") no-repeat center;
      background-color: #2DC500;
      border-color: #85FF67;
      box-shadow: rem(2px) rem(2px) 0px 0px #067300,
        rem(-2px) rem(-2px) 0px 0px $white;
    }

    body.woman & {
      background: url("../images/pixel-heart.png") no-repeat center;
      border-color: $pink;
      background-color: $light-purple;
      box-shadow: rem(2px) rem(2px) 0px 0px $dark-purple,
        rem(-2px) rem(-2px) 0px 0px $light-pink;
    }
  }

  &--right {
    top: 38%;
    right: 30vw;
    z-index: 100;

    .dialog__text {
      overflow-y: auto;
      max-height: 164px;
    }

    @include screen-768 {
      margin: rem(40px) auto;
      transform: rotate(0);
      right: 14vw;
      top: 32vh;
      animation: none;
    }

    @include screen-568 {
      left: 16px;
      max-width: calc(100% - 32px);
    }
  }
}
