@use "common"as *;


picture {
  margin: 0;
}

* {
  margin: auto;
  padding: 0;
  cursor: default;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
}

.car_wrap {
  position: relative;
  bottom: 0;
  text-align: center;
  z-index: 11;

  img,
  svg {
    margin: 0 auto;
    margin-top: rem(52px);
    animation: driveToHorizon 30s infinite linear;

    @include screen-1024 {
      width: 100%;
    }

    @include screen-768 {
      margin-top: 0;
    }
  }
}

.headlight-fill {
  fill: #E4FF99;
  animation: neon-headlight-pulse 4s infinite alternate;
}


@keyframes neon-headlight-pulse {
  0% {
    fill: #ff6f00;
    /* холодный оранжевый (нейтральный) */
  }

  50% {
    fill: #ffaa44;
    /* чуть светлее и ярче */
  }

  100% {
    fill: #ff6f00;
    /* возвращаем к исходному */
  }
}

@keyframes neon-stroke-pulse {
  0% {
    stroke: white;
    filter: drop-shadow(0 0 4px white);
  }

  50% {
    stroke: #FFD700;
    filter: drop-shadow(0 0 6px #FFD700);
  }

  100% {
    stroke: white;
    filter: drop-shadow(0 0 4px white);
  }
}


.road {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to top, #0f0209, #23061d, #330531, #3e024b, #41056a, #520578, #640385, #770092, #9b0089, #b8007e, #ce1173, #e03168);
  perspective: 800px;
  overflow: hidden;


  /* Полосы дороги */
  .road-line {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, .2) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, .2) 1px, transparent 1px);
    height: inherit;
    transform: rotateX(50deg);
    transform-origin: top center;
    animation: 10s linear infinite crawlingWall;
    background-position-y: top;
    box-shadow: 0 0 10px #00bfff;
  }

}

@keyframes crawlingWall {
  to {
    background-position-y: bottom;
  }
}

@keyframes driveToHorizon {
  0% {
    transform: translateY(0) scale(1.2);
    opacity: 1;
  }

  100% {
    transform: translateY(-25vh) scale(0.3);
    opacity: 0.5;
  }
}

#neon {
  margin-top: 10vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  max-height: 60vh;
  text-align: center;
  font-family: Damion;
  font-size: rem(130px);
  font-weight: 700;
  text-transform: uppercase;
  color: #ee91ae;
  text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff, 1px 0px #fff, -1px 0px #fff, 0px -1px #fff, 0px 1px #fff, 0px 0px 12px #ee91ae;
  position: absolute;
  inset: 0;
  transform: rotate(-8deg);
  z-index: 100;

  span {
    display: block;
  }

  @include screen-1024 {
    font-size: 90px;
  }

  @include screen-768 {
    width: 100%;
    transform: rotate(0);
    font-size: 56px;
  }
}

span:nth-child(1) {
  animation: neon 1.7s infinite alternate;
}

span:nth-child(2) {
  animation: neon 1.7s infinite alternate-reverse;
}

@keyframes neon {

  0%,
  18%,
  22%,
  26%,
  58%,
  62%,
  100% {
    text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff, 1px 0px #fff, -1px 0px #fff, 0px -1px #fff, 0px 1px #fff, 0px 0px 12px #ee91ae;
  }

  20%,
  24%,
  60% {
    text-shadow: none;
  }
}

#top {
  width: 100%;
  height: 50%;
  background: linear-gradient(#0d0221 0%,
      #45125e 40%,
      #a22561 80%,
      #ff3864 100%);
  box-shadow: 0 0 100px purple, 0 0 200px purple;

}

.stars {
  width: 1px;
  height: 1px;
  background: #fff;
  position: absolute;
}

#sun {
  width: 40vw;
  max-width: 40vh;
  height: 40vw;
  margin: 0 auto;
  max-height: 40vh;
  background: linear-gradient(#ff3864 0%, #f80 100%);
  box-shadow: inset 0 0 20px #800080, 0 0 120px #800080, 0 35vh 400px #add8e64d;
  border-radius: 50%;
  position: absolute;
  inset: auto 0 55vh 0;
  overflow: hidden;
  z-index: 10;
}

.sun {
  height: 0;
  width: 100%;
  position: absolute;
  inset: 5vh 0 auto 0;
  transform: translateY(6vh);
  animation: sunset 8s linear infinite;

  @include screen-768 {
    inset: 0 0 auto 0;
    transform: translateY(0);
  }
}

@keyframes sunset {

  0%,
  5% {
    background: #45125e;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  70% {
    background: #a22561;
  }

  100% {
    height: 4vh;
    background: #e03263;
    transform: translateY(40vh);
  }
}

#mountain::before {
  content: "";
  width: 100vw;
  height: 4px;
  background: #fff;
  box-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #af62ff, 0 0 32px #af62ff;
  position: absolute;
  filter: blur(1px);
  z-index: 5;
}

#mountain div {
  background: linear-gradient(#090910 40%, #450547 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  z-index: 10;
}

#mountain div:nth-child(1) {
  width: 24vw;
  height: 6vw;
  max-height: 6vh;
  inset: auto auto 50% -5%;
}

#mountain div:nth-child(2) {
  width: 24vw;
  height: 8vw;
  max-height: 8vh;
  inset: auto auto 50% 5%;
}

#mountain div:nth-child(3) {
  width: 30vw;
  height: 10vw;
  max-height: 10vh;
  inset: auto auto 50% 15%;
}

#mountain div:nth-child(4) {
  width: 30vw;
  height: 18vw;
  max-height: 18vh;
  inset: auto auto 50% 30%;

}

#mountain div:nth-child(5) {
  width: 30vw;
  height: 26vw;
  max-height: 26vh;
  inset: auto 30% 50% auto;

}

#mountain div:nth-child(6) {
  width: 30vw;
  height: 10vw;
  max-height: 10vh;
  inset: auto 15% 50% auto;
  z-index: 9;

}

#mountain div:nth-child(7) {
  width: 24vw;
  height: 8vw;
  max-height: 8vh;
  inset: auto 7% 50% auto;
  z-index: 8;

}

#mountain div:nth-child(8) {
  width: 24vw;
  height: 6vw;
  max-height: 6vh;
  inset: auto 0 50% auto;
  z-index: 7;

}

#car-inner {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 50%;
  margin-top: auto;
  position: relative;
  z-index: 1001;
  animation: carShake 3s ease-in-out infinite;

  img {
    margin: 0;
    height: 100%;
    object-fit: cover;

    @include screen-768 {
      width: 100%;
    }
  }

  #salon {
    width: 100%;
    position: relative;
    bottom: -25px;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include screen-768 {
      width: 100%;
      max-height: 50vh;
      margin: 0;
      bottom: -10vh;
    }
  }

  #wheel {
    position: absolute;
    animation: steerRotation 7s ease-in-out infinite;
    width: 700px;
    height: 700px;
    top: 3%;
    left: 6%;
    object-fit: contain;
    z-index: 101;

    @include screen-768 {
      width: 500px;
      height: 500px;
      left: -33%;
      top: 5%;
      max-width: 90%;
    }
  }
}


@keyframes steerRotation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(12deg);
    /* Поворот вправо */
  }

  50% {
    transform: rotate(0deg);
    /* Возврат в центр */
  }

  75% {
    transform: rotate(-10deg);
    /* Поворот влево */
  }

  100% {
    transform: rotate(0deg);
    /* Возврат в центр */
  }
}

@keyframes carShake {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(22px);
  }

  75% {
    transform: translateY(-5px);
  }
}
